.si-button{
  padding: 8px 14px;
  font-size: 14px;
  background-color: var(--default-bg-color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--normal-border-color);
  color: var(--normal-text-color);
}
.si-button-parimy{
  background-color: var(--parimy-bg-color);
  color: var(--white-text-color);
  border-color: var(--parimy-border-color)
}
.si-button-info{
  background-color: var(--info-bg-color);
  color: var(--white-text-color);
  border-color: var(--info-border-color);
}
.si-button-success{
  background-color: var(--success-bg-color);
  color: var(--white-text-color);
  border-color: var(--success-border-color);
}
.si-button-danger{
  background-color: var(--danger-bg-color);
  color: var(--white-text-color);
  border-color: var(--danger-border-color);
}
.si-button-warning{
  background-color: var(--warning-bg-color);
  color: var(--white-text-color);
  border-color: var(--warning-border-color);
}